/BluVitality/build/
/BluVitality/nbproject/
*.class
*.gitkeep
/BluVitality/dist/
*.xml
*.xml
*.iml
*.xml
/BluVitalityInterno/nbproject/private/
/BluVitalityInterno/build/
/BluVitality-2/nbproject/private/
/BluVitality-2/build/
/JavaApplication1/nbproject/private/