/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/08/2018, 11:07:40
    Author     : Alunos
*/

.sub-menu-mobile{
    padding-right: 40%; 
    margin-left: 20%
}

.text-bold{
     -webkit-text-stroke-width: 0.3px;
}
